.root {
    -fx-font-weight: normal;
}
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}
.table-cell {
    -fx-alignment: center-left;
}
.increment-button ,.decrement-button {
    -fx-padding: 0.5em;
}
.titled-pane > .title {
    -fx-padding: 0.16665em 0.75em 0.16665em 0.75em; /* 2 9 2 9 */
}
.align_right {
    -fx-alignment: center_right;
}
.ndock.ship-banner-row .name {
    -fx-font-size: 1.11em;
}
.ndock.ship-banner-row .level,
.ndock.ship-banner-row .hp,
.ndock.ship-banner-row .cond {
    -fx-font-size: 1em;
}