name: Release Drafter

on:
  workflow_run:
    workflows: [Maven Package]
    types: [completed]
    branches: [master]

concurrency: release-drafter

jobs:
  update_release_draft:
    name: Update Release Draft
    permissions:
      actions: read
      # write permission is required to create a github release
      contents: write
    runs-on: ubuntu-latest
    outputs:
      tagname: ${{ steps.tagname.outputs.tagname }}
    steps:
      - name: Download Artifact Version
        uses: actions/download-artifact@v4
        with:
          name: version
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - id: version
        name: Set Version
        run: |
          V=$(cat version.txt)
          echo "version=${V%-SNAPSHOT}" >> $GITHUB_ENV # -SNAPSHOTを削除
          cat $GITHUB_ENV
      - uses: actions/checkout@v4
        with:
          persist-credentials: 'false'
      - name: Check existing releases
        id: check
        run: |
          # 最新リリースのタグを取得
          LATEST=$(gh release list --limit 1 | awk '{print $1}')
          echo "latest=$LATEST" >> $GITHUB_ENV
  
          # もし同じバージョンが存在するなら +1
          if [ "$LATEST" = "${{ env.version }}" ]; then
            # yy.mm.count の count をインクリメント
            BASE=$(echo $LATEST | cut -d. -f1-2)
            COUNT=$(echo $LATEST | cut -d. -f3)
            NEXT=$BASE.$((COUNT+1))
            echo "version=$NEXT" >> $GITHUB_ENV
          fi
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: release-drafter/release-drafter@v6
        id: release-drafter
        with:
          version: ${{ env.version }}
          commitish: ${{ github.event.workflow_run.head_sha }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - id: tagname
        name: Set Tagname
        run: |
          echo "tagname=${{ steps.release-drafter.outputs.tag_name }}" >> $GITHUB_OUTPUT
          cat $GITHUB_OUTPUT

  download-artifact:
    name: Upload Release ${{ matrix.os }}
    runs-on: ubuntu-latest
    needs: update_release_draft
    permissions:
      actions: read
      # write permission is required to create a github release
      contents: write
    strategy:
      fail-fast: false
      matrix:
        # ターゲットの OS(Runner) , macos-latest, ubuntu-latest
        include:
          - os: windows-latest
            platform: win
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: 'false'
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: logbook_${{ matrix.os }}
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload Release
        run: |
          gh release upload ${{ env.TAGNAME }} logbook-${{ env.FILENAME }}.zip --clobber
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAGNAME: ${{ needs.update_release_draft.outputs.tagname }}
          FILENAME: ${{ matrix.platform }}
